# [作業目標]


1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

2. [簡答題] 承上題，請問為什麼依照 merge 合併後有些資料不見了？

3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

# 作業

In [3]:
# 記得先 Import 正確的套件
import pandas as pd
import numpy as np
from IPython.display import display

### 1. 請接下列資料依照指定規則做合併：

```
- 依照 fruit 欄位做合併
- 依照 index 索引做合併
```

In [4]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})

df2 = pd.DataFrame({
    'fruit': ['apple', 'orange', 'pine'] * 2,
    'weight': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})
display(df1)
display(df2)

    fruit  weight  price
0   apple    high      7
1  banana  medium      4
2  orange     low      6
3   apple    high     12
4  banana  medium     11
5  orange     low      4
6   apple    high     13
7  banana  medium      4
8  orange     low      3

    fruit weight  price
0   apple   high      8
1  orange    low      6
2    pine   high     14
3   apple    low     10
4  orange   high     11
5    pine    low      9

In [10]:
# 依照 fruit 欄位做合併
pd.merge(df1, df2, suffixes=('_x', '_y'), on='fruit')

     fruit weight_x  price_x weight_y  price_y
0    apple     high        7     high        8
1    apple     high        7      low       10
2    apple     high       12     high        8
3    apple     high       12      low       10
4    apple     high       13     high        8
5    apple     high       13      low       10
6   orange      low        6      low        6
7   orange      low        6     high       11
8   orange      low        4      low        6
9   orange      low        4     high       11
10  orange      low        3      low        6
11  orange      low        3     high       11

In [15]:
# - 依照 index 索引做合併
df1.join(df2)
# ValueError: columns overlap but no suffix specified: Index(['fruit', 'weight', 'price'], dtype='object')

ValueError: columns overlap but no suffix specified: Index(['fruit', 'weight', 'price'], dtype='object')

### 2. [簡答題] 承上題，請問為什麼依照 'fruit' merge 合併後有些資料不見了？

* 因為 merge 預設採用了 how='inner' 方法合併，只會留下兩邊共同擁有的 fruit 資料

### 3. [簡答題] 承上題，請問為什麼依照 index 合併會發生錯誤？請用程式解決。

* 因為 join 不會將欄位 overlap，需要額外定義 suffix

In [16]:
df1.join(df2, lsuffix='_df1', rsuffix='_df2')

  fruit_df1 weight_df1  price_df1 fruit_df2 weight_df2  price_df2
0     apple       high          7     apple       high        8.0
1    banana     medium          4    orange        low        6.0
2    orange        low          6      pine       high       14.0
3     apple       high         12     apple        low       10.0
4    banana     medium         11    orange       high       11.0
5    orange        low          4      pine        low        9.0
6     apple       high         13       NaN        NaN        NaN
7    banana     medium          4       NaN        NaN        NaN
8    orange        low          3       NaN        NaN        NaN